---
// 套餐详情 Drawer：从右侧滑出
---
<div id="detail-backdrop" class="drawer-backdrop"></div>
<aside id="detail-drawer" class="drawer" role="dialog" aria-label="套餐详情">
  <div id="detail-content" class="p-5"></div>
</aside>
